/* Original CSS */
* {
  padding: 0;
  margin: 0;
}

button {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Press Start 2P", sans-serif;
  font-size: 16px;
  color: white;
  background-color: #4caf50;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  z-index: 2;
}

button:hover {
  cursor: pointer;
  background-color: #45a049; /* Change background color on hover */
}

#game {
  min-width: 500px;
  width: 100vw;
  height: 200px;
  border: 1px solid black;
  position: relative;
}

#game::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: opacity(0.5);
  background-image: url("assets/background.jpg");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto 100%;
  animation: moveBackground 500s linear infinite;
  z-index: -1;
}

#character {
  width: 60px;
  height: 60px;
  /* background-color: red; */
  position: relative;
  top: 160px;
  background-image: url("assets/gojo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -30px;
  background-position-y: -5px;
}

#block,
#yuji,
#fushi {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -30px;
  background-position-y: -5px;
  width: 60px;
  height: 60px;
  /* background-color: blue; */
  position: relative;
  left: 100vw;
  position: absolute;
  display: none;
}

.enemy {
  animation: block 5s infinite linear;
  display: block !important;
}

#block {
  background-image: url("assets/student.png");
}

#yuji {
  background-image: url("assets/yuji.png");
}

#fushi {
  background-image: url("assets/fushi.png");
}

#fire {
  width: 100px;
  height: 100px;
  /* background-color: rgb(0, 255, 85); */
  position: relative;
  top: 110px;
  left: 10px;
  visibility: hidden;
  background-image: url("assets/jutsu.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -50px;
  background-position-y: -30px;
}

#scoreboard {
  position: absolute;
}

#speedinfo {
  display: none;
}

.animate {
  animation: block 5s infinite linear;
}

.jump {
  animation: jump 500ms;
}

.fire {
  animation: fire 2s;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

@keyframes block {
  0% {
    left: 100vw;
  }
  100% {
    left: -40px;
  }
}

@keyframes fire {
  0% {
    left: 10px;
    visibility: visible;
  }
  99% {
    left: 100vw;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 0;
  }
}
